/* Limpar formatação padrão*/

* {
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
} 

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 600px;
    float: left;
    background-color: orange;
}

#area-lateral {
    width: 240px;
    float: right;
    background-color: orange;
}

.posts {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    
}

img {
    width: 240px;
    position: relative;
    float: left;
}

#rodape {
    background: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}

/* Formatação menu */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background-color: #fff;
}

/* Formatações Gerais */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco {
    color: white;
}